* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  background-color: #22a6b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo-container img {
  height: 60px;
  width: auto;
}

.user-avatar {
  width: 45px;
  height: 45px;
  background-color: #ccc;
  border-radius: 50%;
  border: 2px solid white;
}

.content {
  display: flex;
  margin-top: 70px;
  background-color: #ccc;
}

.sidebar {
  width: 220px;
  background-color: #215a68;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: calc(100vh - 70px); 
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.sidebar nav a {
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  display: block;
  font-weight: bold;
}

.sidebar nav a:hover {
  text-decoration: underline;
}

.main {
  flex: 1;
  padding: 20px;
}

section {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.experiments h2,
.equipment h2 {
  margin-bottom: 15px;
}

/*Experimentos*/
.experiment-list {
  display: flex;
  gap: 15px;
}

.experiment {
  position: relative;
  width: 250px;
  height: 175px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.experiment img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.experiment .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: height 0.4s ease, background 0.4s ease;
}

.experiment .overlay h3 {
  margin: 0;
  font-size: 16px;
}

.experiment .overlay p {
  display: none;
  font-size: 13px;
  margin: 8px 10px 0;
}

.experiment:hover .overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
}

.experiment:hover .overlay p {
  display: block;
}

.equipment-list {
  display: flex;
  gap: 15px;
}

/*equipos*/
.equipment-item {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.equipment-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.equipment-item .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: height 0.4s ease, background 0.4s ease;
}

.equipment-item .overlay h3 {
  margin: 0;
  font-size: 14px;
}

.equipment-item:hover .overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
}

