<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar Sesión</title>
  <link rel="icon" href="{{ url_for('static', filename='assets/LOGO-SOLO.ico') }}" type="image/png">
  <link rel="stylesheet" href="{{ url_for('static', filename='login/login.css') }}">
</head>


<body>
  <div class="login-container">
    <div class="login-logo">
      <img src="{{ url_for('static', filename='assets/BioLabHub (negro).png') }}" alt="BioLabHub Logo">
    </div>
    <h2>Iniciar Sesión</h2>

    {% with mensajes = get_flashed_messages(with_categories=true) %}
      {% if mensajes %}
        {% for categoria, mensaje in mensajes %}
          <div class="alerta {{ categoria }}">{{ mensaje }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('login_bp.login') }}">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="contraseña">Contraseña:</label>
      <input type="password" id="contraseña" name="contraseña" required>

      <button type="submit">Entrar</button>
    </form>

    <p class="registro-link">¿No tenés cuenta?
      <a href="{{ url_for('login_bp.register') }}">Registrate aquí</a>
    </p>
  </div>

  <script src="{{ url_for('static', filename='login/login.js') }}"></script>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script src="/static/socket.js"></script>
</body>
</html>
