body {
  margin: 0;
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.navbar {
  background-color: #22a6b3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo-container img {
  height: 60px;
  width: auto;
}


.navbar, h1, h2 {
  font-weight: bold;
}

.hero {
  position: relative;
  background-image: url('../assets/laboratorio.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 400px;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.heroText {
  position: relative;
  z-index: 1;
  max-width: 700px;
  padding: 2rem;
}

.heroText h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 50px;
}

.heroText h1 span {
  background: #22a6b3;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroText p {
  font-size: 1.4rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.heroText button {
  background: linear-gradient(45deg, #1e90ff, #1f707a);
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 2rem;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.heroText button:hover {
  box-shadow: 0 0 20px #1e90ff, 0 0 30px #00ccff;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 4rem 2rem;
  background-color: #111;
}

.feature {
  max-width: 300px;
  margin: 1rem;
  text-align: center;
}

.feature i {
  font-size: 3rem;
  color: #22a6b3;
  margin-bottom: 1rem;
}

.feature h3 {
  color: #fff;
  margin-bottom: 0.5rem;
}

.feature p {
  color: #ccc;
}


.footer {
  padding: 1rem;
  background-color: #000;
  text-align: center;
  color: #888;
  font-size: 0.9rem;
}
